<section>

	<header class="major">
		<h2>Pregledi</h2>
	</header>

	<div class="row uniform">
		<div class="3u 12u$(xsmall)">
			<a ng-class="examinationsCtrl.newExaminationsBtnActive ? 'button special fit' : 'button fit'"
				ng-click="examinationsCtrl.getNewExaminationsPage(0)">Novi pregledi</a>
		</div>
		<div class="3u 12u$(xsmall)">
			<a ng-class="examinationsCtrl.allExaminationsBtnActive ? 'button special fit' : 'button fit'" style="margin-bottom: 3em"
				ng-click="examinationsCtrl.getAllExaminationsPage(0)">Svi pregledi</a>
		</div>
	</div>

	<div class="row 200%">
		<div style="width: 100%">
		
			<div ng-if="examinationsCtrl.displayOnlyNew">
				<table class="tableKMJ" ng-hide="examinationsCtrl.newExaminations.length == 0">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Naziv</th>
							<th>Doktor</th>
						</tr>
					<thead>
					<tr ng-hide="true" current-page="examinationsCtrl.currentPageNew" pagination-id="new"
						dir-paginate="examination in examinationsCtrl.newExaminations | itemsPerPage: examinationsCtrl.pageSize" >
					</tr>
					<tbody>
						<tr ng-repeat="examination in examinationsCtrl.newExaminations"
							ng-click="examinationsCtrl.showExamination(examination.id)">
							<td title="Datum">{{ examination.date | date:'dd.MM.yyyy'}}</td>
							<td title="Naziv">{{ examination.name }}</td>
							<td title="Doktor">{{ examination.doctor.name }} {{
								examination.doctor.surname }}</td>
						</tr>
					</tbody>
				</table>
				
				<h3 ng-show="examinationsCtrl.newExaminations.length == 0" style="text-align: center; margin-top: 5%">
					Trenutno nema novih pregleda.
				</h3>
				
				<!-- PAGINATION CONTROLLS -->
				<dir-pagination-controls pagination-id="new"
					ng-show="examinationsCtrl.totalPagesNew > 1" 
					total-pages={{examinationsCtrl.totalPagesNew}}
					boundary-links="true"  direction-links="true" max-size="10"
					on-page-change="examinationsCtrl.changePageNew()"
					template-url="directives/dirPagination.tpl.html">
				</dir-pagination-controls>
			</div>
		
			<div ng-if="examinationsCtrl.displayOnlyNew == false">
				<table class="tableKMJ" ng-hide="examinationsCtrl.allExaminations.length == 0">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Naziv</th>
							<th>Doktor</th>
						</tr>
					<thead>
					<tr ng-hide="true" current-page="examinationsCtrl.currentPageAll" pagination-id="all"
						dir-paginate="examination in examinationsCtrl.allExaminations | itemsPerPage: examinationsCtrl.pageSize" >
					</tr>
					<tbody>
						<tr ng-repeat="examination in examinationsCtrl.allExaminations"
							ng-click="examinationsCtrl.showExamination(examination.id)">
							<td title="Datum">{{ examination.date | date:'dd.MM.yyyy'}}</td>
							<td title="Naziv">{{ examination.name }}</td>
							<td title="Doktor">{{ examination.doctor.name }} {{
								examination.doctor.surname }}</td>
						</tr>
					</tbody>
				</table>
				
				<h3 ng-show="examinationsCtrl.allExaminations.length == 0" style="text-align: center; margin-top: 5%">
					Trenutno nema pregleda.
				</h3>
				
				<!-- PAGINATION CONTROLLS -->
				<dir-pagination-controls pagination-id="all"
					ng-show="examinationsCtrl.totalPagesAll > 1" 
					total-pages={{examinationsCtrl.totalPagesAll}}
					boundary-links="true"  direction-links="true" max-size="10"
					on-page-change="examinationsCtrl.changePageAll()"
					template-url="directives/dirPagination.tpl.html">
				</dir-pagination-controls>
			</div>
		</div>
		
		
	</div>
</section>
