<section>

	<header class="major">
		<h2>Operacije</h2>
	</header>

	<div class="row uniform">
		<div class="3u 12u$(xsmall)">
			<a href="#" class="button special fit"
				ng-click="operationsCtrl.getNewOperationsPage(0)">Nove operacije</a>
		</div>
		<div class="3u 12u$(xsmall)">
			<a href="#" class="button fit" style="margin-bottom: 3em"
				ng-click="operationsCtrl.getAllOperationsPage(0)">Sve operacije</a>
		</div>
	</div>

	<div class="row 200%">
		<div style="width: 100%">
			<div>
				<table class="tableKMJ">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Naziv</th>
							<th>Doktor</th>
						</tr>
					<thead>
					<tr ng-hide="true" current-page="currentPage" 
						dir-paginate="operation in operationsCtrl.allOperations | itemsPerPage: operationsCtrl.pageSize" >
					</tr>
					<tbody>
						<tr ng-repeat="operation in operationsCtrl.allOperations"
							ng-click="operationsCtrl.showOperation(operation.id)">
							<td title="Datum">{{ operation.date | date:'dd.MM.yyyy'}}</td>
							<td title="Naziv">{{ operation.name }}</td>
							<td title="Doktor">{{ operation.headDoctor.name }} {{
								operation.headDoctor.surname }}</td>
						</tr>
					</tbody>
				</table>
				
				<dir-pagination-controls 
					ng-show="operationsCtrl.totalPages > 2" total-pages= {{operationsCtrl.totalPages}}
					boundary-links="true"  direction-links="true" max-size="10"
					on-page-change="operationsCtrl.changePage()"
					template-url="directives/dirPagination.tpl.html">
				</dir-pagination-controls>
			</div>

		</div>
	</div>
</section>
