
<section>
	<header class="major">
		<h2>Sve uplate</h2>
	</header>
	<!-- TABLE -->
	<div class="row 200%">
		<div style="width: 100%">

			<div class="table-wrapper">
				<table class="alt" id="paymentsTable">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Primalac</th>
							<th>Uplatilac</th>
							<th>Iznos</th>
							<th>Valuta</th>
						</tr>
					</thead>

					<tbody id="paymentsBody">
						<!-- rows -->
					</tbody>

				</table>

				<div class="pagination" id="managerPaymentsPag"></div>

			</div>

		</div>
	</div>

</section>

