
<!-- Content -->
<section>
	<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
</section>

<!-- The Modal for set up operation or examination -->
<div id="myModal" class="modal" ng-style="{'display': medicalStaffScheduleCtrl.displayModal}" click-anywhere-but-here="medicalStaffScheduleCtrl.closeModal()">

	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close" id="spanClose" ng-click="medicalStaffScheduleCtrl.closeModal()">&times;</span>
			<h2 style="text-align: center; margin-top: 5%">Zakazivanje</h2>
		</div>
		<div class="modal-body">
			<form>
				<div class="row uniform">

					<div class="12u$" style="margin-top: 5%">
						<input ng-focus="medicalStaffScheduleCtrl.wrongPatientPersonalId = false; medicalStaffScheduleCtrl.wrongId = false" type="text" id="personalID"
							placeholder="JMBG pacijenta" ng-model="medicalStaffScheduleCtrl.operationExamination.personalId"> <span id="invalidPatientID"
							class="errorSpan" ng-show="medicalStaffScheduleCtrl.wrongPatientPersonalId">Ne postoji pacijent sa unetim JMBG-om.</span>
							<span id="invalidPatientID2"
							class="errorSpan" ng-show="medicalStaffScheduleCtrl.wrongId">Unesite JMBG pacijenta.</span>
					</div>

					<div class="12u$">
						<div class="select-wrapper">
							<select ng-focus="medicalStaffScheduleCtrl.wrongType = false" name="type" id="type" ng-model="medicalStaffScheduleCtrl.operationExamination.type">
								<option value="">- Vrsta -</option>
								<option value="operacija">Operacija</option>
								<option value="pregled">Pregled</option>
							</select>
							<span id="invalidType"
							class="errorSpan" ng-show="medicalStaffScheduleCtrl.wrongType">Odaberite vrstu intervencije.</span>
						</div>
					</div>
					<div class="12u$" id="durationDiv" ng-show="medicalStaffScheduleCtrl.operationExamination.type == 'operacija'">
						<input ng-focus="medicalStaffScheduleCtrl.wrongDuration = false" type="text" id="duration"
							placeholder="Trajanje operacije" required ng-model="medicalStaffScheduleCtrl.operationExamination.duration"> <span
							id="invalidDuration" class="errorSpan" ng-show="medicalStaffScheduleCtrl.wrongDuration">Unesite trajanje operacije.</span>
					</div>
					<!-- Break -->
					<div class="12u$">
						<input  ng-focus="medicalStaffScheduleCtrl.wrongName = false"type="text" id="name"
							placeholder="Naziv" required ng-model="medicalStaffScheduleCtrl.operationExamination.name"> <span id="invalidName"
							class="errorSpan" ng-show="medicalStaffScheduleCtrl.wrongName">Unesite naziv intervencije.</span>
					</div>
					<div class="12u$">
						<input type="text" id="date" placeholder="Datum"
							disabled="disabled" name="date">
					</div>
					<!-- Break -->
					<div class="12u$">
						<ul class="actions" style="text-align: center;">
							<li><a class="button" ng-click="medicalStaffScheduleCtrl.save()">Potvrdi</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- The Modal for detail look about operation or examination -->
<div id="myModalDetail" class="modal" ng-show="medicalStaffScheduleCtrl.showDetailsModal">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close" id="spanCloseDetail">&times;</span>
			<h2 id="operationOrExaminationTitle"
				style="text-align: center; margin-top: 5%"></h2>
		</div>
		<div class="modal-body">
			<ul class="contact" style="width: 100%; margin-top: 5%">
				<li class="fa-stethoscope" id="doctor"></li>
				<li class="fa-user" id="patient"></li>
				<li class="fa-tag" id="nameTag"></li>
				<li class="fa-calendar" id="dateTag"></li>
				<li class="fa-clock-o" id="timeTag"></li>
				<li id="operationExaminationId" style="display: none"></li>
				<li style="margin-left: 11%"><a class="button icon fa-ban"
					onclick="cancelOperationExamination()">Otkaži</a></li>
			</ul>
		</div>
	</div>
</div>

