<!-- Content -->
<section>
	<header class="major">
		<h2>Pacijenti</h2>
	</header>
	<div class="row uniform">
		<div class="9u 12u$(xsmall)">
			<input type="text" id="search" placeholder="Unesite reči za pretragu" ng-model="medicalStaffPatientsCtrl.searchData"  ng-change="medicalStaffPatientsCtrl.emptySearch()">
		</div>
		<div class="1u 12u$(xsmall)">
			<a href="#" class="button special" ng-click="medicalStaffPatientsCtrl.searchPatients()"> <i
				class="fa fa-search fa-fw" aria-hidden="true"></i> Pretraži
			</a>
		</div>

	</div>
	<div class="row uniform">
		<div class="3u 12u$(xsmall)">
			<a href="#"   ng-class="medicalStaffPatientsCtrl.allPatientsBtnActive ? 'button special fit' : 'button fit'" id="allP" ng-click="medicalStaffPatientsCtrl.getAllPatients()" >Svi pacijenti</a>
		</div>
		<div class="3u 12u$(xsmall)">
			<a href="#"  id="myP" ng-class="medicalStaffPatientsCtrl.myPatientsBtnctive ? 'button special fit' : 'button fit'" ng-click="medicalStaffPatientsCtrl.getMyPatients()" style="margin-bottom: 3em">Moji pacijenti</a>
		</div>
	</div>
	<p></p>
	<div class="row 200%">
		<div style="width: 100%">

			<div class="table-wrapper">
				<table class="alt" id="patientsTable" ng-hide="medicalStaffPatientsCtrl.patients.length == 0">
					<thead>
						<tr>
							<th>Ime</th>
							<th>Prezime</th>
							<th>Pol</th>
							<th>Datum rođenja</th>
							<th>Izabrani doktor</th>
						</tr>
					</thead>

					<tbody id="patientsBody">
						<tr ng-repeat="x in medicalStaffPatientsCtrl.patients" ng-click="medicalStaffPatientsCtrl.showPatient(x.id)">
							<td>{{ x.name }}</td>
							<td>{{ x.surname }}</td>
							<td>{{ x.gender }}</td>
							<td>{{ x.birthday | date:'dd.MM.yyyy'}}</td>
							<td>{{ x.chosenDoctor.name}} {{ x.chosenDoctor.surname}}</td>
						</tr>
					</tbody>

				</table>


				<h3 ng-show="medicalStaffPatientsCtrl.noSearchResult" text-align: center;">Ne
					postoje pacijenti koji zadovoljavaju kriterijum pretrage.</h3>
				<h3 ng-show="medicalStaffPatientsCtrl.patients.length == 0" text-align: center;">Trenutno
					nemate ni jednog pacijenta.</h3>
			</div>

		</div>
	</div>
</section>
