<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
	<div id="main">

		<!-- Header image -->
		<img class='headerImage' ng-src="{{commonCtrl.headerImageSrc}}" style="height: 20em;" />
		
		<div class="inner" ui-view>

		</div>
	</div>

	<!-- Sidebar -->
	<div id="sidebar">
		<div class="inner">

			<!-- Picture -->
			<div class="4u"
				style="border: None; margin: 0 auto; display: table; width: 50%">
				<span class="image fit"><img class='image' id="personPhoto"
					ng-src={{commonCtrl.personImageSrc}} alt="" style="border-radius: 50%" /></span>
			</div>

			<!-- Menu -->
			<nav id="menu" ng-controller="MedicalStaffController as medicalStaffCtrl">
				<header class="major">
					<h2 id="personName">{{commonCtrl.loggedPerson.name}} {{commonCtrl.loggedPerson.surname}}</h2>
				</header>
				<ul>
					<li><a ng-click="medicalStaffCtrl.goToPatients()">Pacijenti</a></li>
					<li><a ng-click="medicalStaffCtrl.goToPatientRegistration()">Registruj
							pacijenta</a></li>
					<li><a ng-click="medicalStaffCtrl.goToSchedule()">Kalendar</a></li>
					<li><a ng-click="commonCtrl.logout()">Odjava</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
