
<!-- Content -->
<section>
	<div ui-calendar="patientScheduleCtrl.uiConfig.calendar" ng-model="patientScheduleCtrl.eventSources"></div>
</section>


<!-- The Modal for detail look about operation or examination -->
<div id="myModalDetail" class="modal" ng-style="{'display': patientScheduleCtrl.displayModalDetails}">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close" id="spanCloseDetail" ng-click="patientScheduleCtrl.closeModalDetails()">&times;</span>
			<h2 id="operationOrExaminationTitle" ng-model="patientScheduleCtrl.clickedEvent.title"
				style="text-align: center; margin-top: 5%">{{patientScheduleCtrl.clickedEvent.title}}</h2>
		</div>
		<div class="modal-body">
			<ul class="contact" style="width: 100%; margin-top: 5%">
				<li class="fa-stethoscope" id="doctor" >{{patientScheduleCtrl.clickedEvent.doctor}}</li>
				<li class="fa-user" id="patient" >{{patientScheduleCtrl.clickedEvent.patient}}</li>
				<li class="fa-tag" id="nameTag" >{{patientScheduleCtrl.clickedEvent.name}}</li>
				<li class="fa-calendar" id="dateTag" >{{patientScheduleCtrl.clickedEvent.date}}</li>
				<li class="fa-clock-o" id="timeTag" ng-if="patientScheduleCtrl.clickedEvent.time == '0:00' ? patientScheduleCtrl.clickedEvent.time='Satnica još uvek nije uvrđena' : patientScheduleCtrl.clickedEvent.time">{{patientScheduleCtrl.clickedEvent.time}}</li>
			</ul>
		</div>
	</div>
</div>

