<section>
	<header class="major">
		<h2>Promena lozinke</h2>
	</header>
	<!-- FORM -->
	<div class="row uniform">
		<div class="6u$">
			<input type="password" placeholder="Stara lozinka"
				ng-model="patientProfileCtrl.oldPassword"
				ng-focus="patientProfileCtrl.oldPasswordEmpty = false; patientProfileCtrl.oldPasswordWrong = false"
				name="oldPassword" required> <span
				ng-show="patientProfileCtrl.oldPasswordEmpty" class="errorSpan">Unesite
				staru lozinku.</span> <span id="invalidName" class="errorSpan"
				ng-show="patientProfileCtrl.oldPasswordWrong">Pogrešna
				lozinka.</span>
		</div>
		<div class="6u$ ">
			<input type="password" id="newPassword" placeholder="Nova lozinka"
				ng-model="patientProfileCtrl.newPassword"
				ng-change="patientProfileCtrl.checkNewPassword()"> <span
				class="errorSpan2" ng-show="patientProfileCtrl.passwordLenght">Lozinka
				mora imati najmanje 8 karaktera.</span> <span class="errorSpan2"
				ng-show="patientProfileCtrl.passwordUpperCase">Lozinka mora
				sadržati barem jedno veliko slovo.</span> <span class="errorSpan2"
				ng-show="patientProfileCtrl.passwordSpecialChar">Lozinka mora
				sadržati barem jedan specijalni karakter.</span> <span class="errorSpan2"
				ng-show="patientProfileCtrl.passwordNumber">Lozinka mora
				sadržati barem jednu cifru.</span>
		</div>

		<div class="6u$ ">
			<input type="password" id="newRPassword"
				ng-focus="patientProfileCtrl.newRePasswordWrong = false"
				ng-model="patientProfileCtrl.newRPassword"
				placeholder="Ponovite novu lozinku"
				ng-change="patientProfileCtrl.checkRePassword()"><span
				class="errorSpan" ng-show="patientProfileCtrl.newRePasswordWrong">Lozinke
				se ne poklapaju.</span>
		</div>
		<!-- Break -->
		<div class="12u$">
			<ul class="actions">
				<li><a class="button special"
					ng-click="patientProfileCtrl.changePassword()"}">Sačuvaj</a></li>
				<li><input type="reset" value="Otkaži"
					ng-click="patientProfileCtrl.clear()"></li>
			</ul>
		</div>
	</div>
</section>