<section>
	<header class="major">
		<h2>Promena lozinke</h2>
	</header>
	<!-- FORM -->
	<form>
		<div class="row uniform">
			<div class="6u$">
				<input type="password" id="oldPassword" placeholder="Stara lozinka" ng-model="patientProfileCtrl.oldPassword">
			</div>
			<div class="6u$ ">
				<input type="password" id="newPassword" placeholder="Nova lozinka" ng-model="patientProfileCtrl.newPassword">
			</div>
			<div class="6u$ ">
				<input type="password" id="newRPassword" ng-model="patientProfileCtrl.newRPassword"
					placeholder="Ponovite novu lozinku">
			</div>
			<!-- Break -->
			<div class="12u$">
				<ul class="actions">
					<li><a class="button special"
						ng-click="patientProfileCtrl.changePassword()">Sačuvaj</a></li>
					<li><input type="reset" value="Otkaži"></li>
				</ul>
			</div>
		</div>
	</form>

</section>