<section>
	<header class="major">
		<h2>
			Zdravstveni karton pacijenta <a id="aNameSurname"
				ng-click="patientRecordCtrl.goToPatientProfile()"
				style="cursor: pointer"><span id="nameSurname">{{
					patientRecordCtrl.nameSurname }}</span></a>
		</h2>
	</header>

	<!-- Record -->
	<div>
		<p></p>
	</div>
	<div>
		<div class="row uniform">
		<div class="3u 12u$(xsmall)">
			<a  ng-class="patientRecordCtrl.examinationsBtnActive ? 'button special fit' : 'button fit'"
				ng-click="patientRecordCtrl.getExaminationsPage(0)">Pregledi</a>
		</div>
		<div class="3u 12u$(xsmall)">
			<a ng-class="patientRecordCtrl.operationsBtnActive ? 'button special fit' : 'button fit'" style="margin-bottom: 3em"
				ng-click="patientRecordCtrl.getOperationsPage(0)">Operacije</a>
		</div>
		</div>

		<div class="row 200%">
			<div style="width: 100%">
			
				<div ng-if="patientRecordCtrl.displayExaminations">
					<table class="tableKMJ" ng-hide="patientRecordCtrl.examinations.length == 0">
						<thead>
							<tr>
								<th>Datum</th>
								<th>Naziv</th>
								<th>Doktor</th>
							</tr>
						</thead>
						<tr ng-hide="true" pagination-id="examinations"
							current-page="patientRecordCtrl.currentPageExaminations" 
							dir-paginate="record in patientRecordCtrl.examinations | itemsPerPage: patientRecordCtrl.pageSize" >
						</tr>	
						<tbody>
							<tr ng-repeat="record in patientRecordCtrl.examinations">
								<td title="Datum">{{ record.date | date:'dd.MM.yyyy'}}</td>
								<td title="Naziv">{{ record.name }}</td>
								<td title="Doktor" ng-show="record.doctor">
									{{ record.doctor.name }} {{ record.doctor.surname }}
								</td>
							</tr>
						</tbody>

					</table>
					
					<h3 ng-show="patientRecordCtrl.examinations.length == 0" style="text-align: center; margin-top: 5%">Trenutno
					nemata podataka u zdravstvenom kartonu.</h3>
					
					<dir-pagination-controls pagination-id="examinations"
						ng-show="patientRecordCtrl.totalPagesExaminations > 1" 
						total-pages= {{patientRecordCtrl.totalPagesExaminations}}
						boundary-links="true"  direction-links="true" max-size="10"
						on-page-change="patientRecordCtrl.changePageExaminations()"
						template-url="directives/dirPagination.tpl.html">
					</dir-pagination-controls>
				</div>
				
				<div ng-if="patientRecordCtrl.displayExaminations == false">
					<table class="tableKMJ" ng-hide="patientRecordCtrl.operations.length == 0">
						<thead>
							<tr>
								<th>Datum</th>
								<th>Naziv</th>
								<th>Doktor</th>
							</tr>
						</thead>
						<tr ng-hide="true" pagination-id="operations"
							current-page="patientRecordCtrl.currentPageOperations" 
							dir-paginate="record in patientRecordCtrl.operations | itemsPerPage: patientRecordCtrl.pageSize" >
						</tr>	
						<tbody>
							<tr ng-repeat="record in patientRecordCtrl.operations">
								<td title="Datum">{{ record.date | date:'dd.MM.yyyy'}}</td>
								<td title="Naziv">{{ record.name }}</td>
								<td title="Doktor">
									{{ record.headDoctor.name }} {{ record.headDoctor.surname }}
								</td>
							</tr>
						</tbody>

					</table>
					
					<h3 ng-show="patientRecordCtrl.operations.length == 0" style="text-align: center; margin-top: 5%">Trenutno
					nemata podataka u zdravstvenom kartonu.</h3>
					
					<dir-pagination-controls pagination-id="operations"
						ng-show="patientRecordCtrl.totalPagesOperations > 1" 
						total-pages= {{patientRecordCtrl.totalPagesOperations}}
						boundary-links="true"  direction-links="true" max-size="10"
						on-page-change="patientRecordCtrl.changePageOperations()"
						template-url="directives/dirPagination.tpl.html">
					</dir-pagination-controls>
				</div>
				
			</div>
		</div>
	</div>

	<!-- The Modal for set up operation or examination -->
	<div id="myModal" class="modal"
		ng-style="{'display': patientRecordCtrl.displayModal}"
		click-anywhere-but-here="patientRecordCtrl.closeModal()">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span class="close" id="spanClose"
					ng-click="patientRecordCtrl.closeModal()">&times;</span>
				<h2 style="text-align: center; margin-top: 5%">Zakazivanje</h2>
			</div>
			<div class="modal-body">
				<form name="myForm">
					<div class="row uniform">
						<div class="12u$" style="margin-top: 5%">
							<input type="text" id="personalID"
								ng-model="patientRecordCtrl.operationExamination.type"
								disabled="disabled">
						</div>

						<div class="12u$">
							<input ng-focus="patientRecordCtrl.wrongName = false" type="text"
								id="name" placeholder="Naziv" required
								ng-model="patientRecordCtrl.operationExamination.name">
							<span id="invalidName" class="errorSpan"
								ng-show="patientRecordCtrl.wrongName">Unesite naziv
								intervencije.</span>
						</div>

						<div class="12u$" id="durationDiv"
							ng-show="patientRecordCtrl.operationExamination.type == 'Operacija'">
							<input ng-focus="patientRecordCtrl.wrongDuration = false"
								type="text" id="duration" placeholder="Trajanje operacije"
								required
								ng-model="patientRecordCtrl.operationExamination.duration">
							<span id="invalidDuration" class="errorSpan"
								ng-show="patientRecordCtrl.wrongDuration">Unesite
								trajanje operacije.</span>
						</div>

						<div class="12u$">
							<input type="text" placeholder="Pacijenta"
								ng-model="patientRecordCtrl.nameSurname" disabled="disabled">
						</div>
						
						<div class="12u$">
							<input type="text" id="date" name="date" placeholder="Datum"
								title="Unesite datum u obliku dd-mm-GGGG" ng-model="patientRecordCtrl.operationExamination.date"
								required name="date" ng-blur="patientRecordCtrl.checkDate()" ng-focus="patientRecordCtrl.wrongDate = false ; patientRecordCtrl.wrongDateFormat = false"><span id="invalidDate" class="errorSpan"
								ng-show="patientRecordCtrl.wrongDate" >Unesite datum u obliku dd-mm-GGGG.</span>
								<span class="errorSpan" ng-show="patientRecordCtrl.wrongDateFormat">Neispravan datum.</span>
						</div>
						<!-- Break -->
						<div class="12u$">
							<ul class="actions" style="text-align: center;">
								<li><a class="button" ng-click="patientRecordCtrl.save()">Potvrdi</a></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
