<section>
	<header class="major">
		<h2>
			Zdravstveni karton pacijenta <a id="aNameSurname"
				ng-click="patientRecordCtrl.goToPatientProfile()"
				style="cursor: pointer"><span id="nameSurname">{{
					patientRecordCtrl.nameSurname }}</span></a>
		</h2>
	</header>
	<div id="buttons" ng-show="patientRecordCtrl.asDoctor">
		<a class="button special"
			ng-click="patientRecordCtrl.startExamination()">Započni pregled</a>
		<div style="float: right">
			<a ng-click="patientRecordCtrl.openModalExamination()" class="button"
				id="Pregled">Zakaži pregled</a> <a
				ng-click="patientRecordCtrl.openModalOperation()" class="button"
				id="Operacija">Zakaži operaciju</a>
		</div>
	</div>

	<div id="examinationDiv" ng-show="patientRecordCtrl.examinationShow">
		<form>
			<div class="row uniform">
				<div class="6u$">
					<textarea rows="4" id="symptons" placeholder="Unesite simptome*"
						ng-model="patientRecordCtrl.symptons" required></textarea>
				</div>
				<div class="6u$ ">
					<textarea rows="4" id="diagnosis" placeholder="Unesite dijagnozu*"
						ng-model="patientRecordCtrl.diagnosis" required></textarea>
				</div>
				<div class="6u$ ">
					<textarea rows="4" id="therapy" placeholder="Unesite terapiju*"
						ng-model="patientRecordCtrl.therapy" required></textarea>
				</div>
				<!-- Break -->
				<div class="12u$" ng-show="patientRecordCtrl.showBtns">
					<ul class="actions">
						<li><a class="button special"
							ng-click="patientRecordCtrl.saveExamination()">Završi</a></li>
						<li><input type="reset" value="Otkaži"></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
	<!-- Record -->
	<div>
		<p></p>
	</div>
	<div>
		<div class="row uniform">
			<div class="3u 12u$(xsmall)">
				<a class="button special fit" onclick="resetPagExaminations()">Pregledi</a>
			</div>
			<div class="3u 12u$(xsmall)">
				<a class="button fit" onclick="resetPagOperations()"
					style="margin-bottom: 3em">Operacije</a>
			</div>
		</div>

		<div class="row 200%">
			<div style="width: 100%">
				<div class="table-wrapper">
					<table class="alt" id="patientRecordTable" >
						<thead>
							<tr>
								<th>Datum</th>
								<th>Naziv</th>
								<th>Doktor</th>
							</tr>
						</thead>

						<tbody id="patientRecordBody">
							<!-- dinam.add rows -->
						</tbody>

					</table>
					<div class="pagination" id="patientRecordPag"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- The Modal for set up operation or examination -->
	<div id="myModal" class="modal"
		ng-style="{'display': patientRecordCtrl.displayModal}"
		click-anywhere-but-here="patientRecordCtrl.closeModal()">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span class="close" id="spanClose"
					ng-click="patientRecordCtrl.closeModal()">&times;</span>
				<h2 style="text-align: center; margin-top: 5%">Zakazivanje</h2>
			</div>
			<div class="modal-body">
				<form name="myForm">
					<div class="row uniform">
						<div class="12u$" style="margin-top: 5%">
							<input type="text" id="personalID"
								ng-model="patientRecordCtrl.operationExamination.type"
								disabled="disabled">
						</div>

						<div class="12u$">
							<input ng-focus="patientRecordCtrl.wrongName = false" type="text"
								id="name" placeholder="Naziv" required
								ng-model="patientRecordCtrl.operationExamination.name">
							<span id="invalidName" class="errorSpan"
								ng-show="patientRecordCtrl.wrongName">Unesite naziv
								intervencije.</span>
						</div>

						<div class="12u$" id="durationDiv"
							ng-show="patientRecordCtrl.operationExamination.type == 'Operacija'">
							<input ng-focus="patientRecordCtrl.wrongDuration = false"
								type="text" id="duration" placeholder="Trajanje operacije"
								required
								ng-model="patientRecordCtrl.operationExamination.duration">
							<span id="invalidDuration" class="errorSpan"
								ng-show="patientRecordCtrl.wrongDuration">Unesite
								trajanje operacije.</span>
						</div>

						<div class="12u$">
							<input type="text" placeholder="Pacijenta"
								ng-model="patientRecordCtrl.nameSurname" disabled="disabled">
						</div>
						
						<div class="12u$">
							<input type="text" id="date" name="date" placeholder="Datum"
								title="Unesite datum u obliku dd-mm-GGGG" ng-model="patientRecordCtrl.operationExamination.date"
								required name="date" ng-blur="patientRecordCtrl.checkDate()" ng-focus="patientRecordCtrl.wrongDate = false ; patientRecordCtrl.wrongDateFormat = false"><span id="invalidDate" class="errorSpan"
								ng-show="patientRecordCtrl.wrongDate" >Unesite datum u obliku dd-mm-GGGG.</span>
								<span class="errorSpan" ng-show="patientRecordCtrl.wrongDateFormat">Neispravan datum.</span>
						</div>
						<!-- Break -->
						<div class="12u$">
							<ul class="actions" style="text-align: center;">
								<li><a class="button" ng-click="patientRecordCtrl.save()">Potvrdi</a></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
