<section>

	<header class="major">
		<h2>{{operationCtrl.operation.name}}</h2>
	</header>

	<div class="row uniform" style="cursor: default;">

		<div class="6u 12u$(xsmall)">
			<h3>Podaci o operaciji</h3>
			<ul class="contact">
				<li class="fa-calendar" title="Datum">
					{{operationCtrl.operation.date | date:'dd.MM.yyyy'}}</li>
				<li class="fa-clock-o" title="Trajanje">
					{{operationCtrl.operation.duration}}
				</li>
				<li class="fa-tag" title="Vreme i sala">
					<label class = "bold-italic">{{operationCtrl.timeAndPlace}}</label>
					<a class="button special fit" style="margin-top:10%" 
					   ng-show="operationCtrl.displayBtnAddTimeAndRoom"
					   ng-click="operationCtrl.openModal()"> Dodaj vreme i salu
					</a>
				</li>
			</ul>
		</div>

		<div class="6u 12u$(xsmall)">
			<h3>Podaci o pacijentu</h3>
			<ul class="contact" id="patientData">
				<li class="fa-user" title="Ime i prezime">
					{{operationCtrl.operation.patient.name}} {{operationCtrl.operation.patient.surname}}
				</li>
				<li class="fa-birthday-cake" id="patientBirthday" title="Datum rođenja">
					{{operationCtrl.operation.patient.birthday | date:'dd.MM.yyyy'}}
				</li>
				<li ng-hide="operationCtrl.operation.patient.gender == 'muško'"
					class="fa-venus" id="patientGender" title="Pol">
					{{operationCtrl.operation.patient.gender}}
				</li>
				<li ng-show="operationCtrl.operation.patient.gender == 'muško'"
					class="fa-mars" id="patientGender" title="Pol">
					{{operationCtrl.operation.patient.gender}}
				</li>
			</ul>
		</div>
	</div>
	
	<!-- The Modal for set up operation time and room -->
	<div id="modalOp" class="modal" ng-style="{'display': operationCtrl.displayModal}" click-anywhere-but-here="operationCtrl.closeModal()">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span class="close" id="spanCloseOp" ng-click="operationCtrl.closeModal()">&times;</span>
				<h2 style="text-align: center; margin-top: 5%">Zakazivanje</h2>
			</div>
			<div class="modal-body">
				<form>
					<div class="row uniform">
						<div class="12u$">
							<div id="chooseRoom" style="margin-top:5%" class="select-wrapper">
								<select ng-model="operationCtrl.roomId" 
									ng-options="template.value as template.name for template in operationCtrl.rooms"
   									ng-change="operationCtrl.fillTimes()">
   								</select> 
							</div>
							
							<div id="chooseTime" style="margin-top:5%" class="select-wrapper">
								<select ng-model="operationCtrl.selectedTime" 
									ng-options="template.value as template.name for template in operationCtrl.times"
   									ng-disabled="operationCtrl.selectTimeDisabled">
   								</select> 
							</div>
						</div>	
						<!-- Break -->
						<div class="12u$">
							<ul class="actions" style="text-align: center;">
								<li><a class="button" ng-click="operationCtrl.saveOperation()">Potvrdi</a></li>
							</ul>
						</div>			
					</div>
				</form>
			</div>
		</div>
	</div>

</section>